nav {
    background-color: darkblue;
    padding: 10px;
  }
  
  nav a {
    color: white;
    display: block;
    padding: 20px;
  }
  
  h1 {
    color: darkblue;
  }
  img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
  }

  p {
    padding: 0px;
  }
  main {
    max-width: 840px;
}

aside {
  width: 60%;
  margin: 20px auto;
  border: 2px solid #333;
  padding: 15px;
  background-color: #f4f4f4;
  color: #333;
  text-align: center;
}
aside img {
  width: 200px;
  height: auto;
  border-radius: 8px; /* Optional: Adds rounded corners */
  margin-left: 0%;
}

main {
  width: 80%;
  margin: 0 auto;
}

p {
    padding: 0;
}
footer {
  margin-top: 20px;
  border-top: 2px solid #333;
  text-align: center;
  padding: 10px;
}